.container{
    margin-bottom: 10px;
    background-color: #eff6ee;
}
.button {
    background-color: #eff6ee;
    color: rgb(0, 174, 58);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    opacity: 0.5;
}
.table{
    width: 50%;   
}
.form {
    width: 300px;
    border: 2px solid rgb(1, 168, 1);
    padding: 20px;
    margin: 0 auto;
    font-weight: 600px;
}
.form input {
    width: 100%;
    padding: 10px 0;
}